[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
scripts = "*"
"discord.py" = {extras = ["voice"], version = "*"}
youtube-dl = "*"
pymongo = {extras = ["tls"], version = "*"}
dnspython = "*"
pycountry = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "python app.py"
